<template>
    <div style="margin: 15px;">
        <v-layout row wrap>
            <v-flex xs12 sm6 offset-sm3>
                <v-card>
                    <v-container
                            fluid
                            style="min-height: 0;"
                            grid-list-lgnp
                    >
                        <v-layout row wrap>
                            <v-flex xs12>
                                <v-card color="grey darken-2" class="white--text">
                                    <v-card-title primary-title>
                                        <div>
                                            <div class="headline">Заявка номер : {{claim.id}}</div>
                                            <span class="text">Описание: {{claim.description}}</span>
                                        </div>
                                    </v-card-title>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn icon @click.native="show = !show" class="white--text">
                                            <v-icon>{{ show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                                        </v-btn>
                                    </v-card-actions>
                                    <v-slide-y-transition>
                                        <v-card-text v-show="show" class="white--text">
                                            <div> ФИО: {{claim.fio}} </div>
                                            <div> Контактная почта: {{claim.contactEmail}} </div>
                                            <div> Телефон: {{claim.contactNumber}} </div>
                                            <div> Статус: {{claim.status}} </div>
                                        </v-card-text>
                                    </v-slide-y-transition>
                                        <v-btn icon @click="statusJob" small style="background-color: aliceblue; margin-left: 3%; margin-bottom: 1%">
                                            <v-icon>done_outline</v-icon>
                                        </v-btn>
                                        Готово
                                        <v-btn icon @click="del" small style="background-color: aliceblue; margin-left: 3%; margin-bottom: 1%">
                                            <v-icon>delete_outline</v-icon>
                                        </v-btn>
                                        Удалить заявку
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex'
    export default {
        props: ['claim', 'editClaim'],
        data: () => ({
            show: false
        }),
        methods: {
            ...mapActions(['removeClaimAction']),
            computed: mapState(['profile']),
            edit() {
                this.editClaim(this.claim)
            },
            del() {
                this.removeClaimAction(this.claim)
            },
            statusJob() {
                this.$http.put(`claim/status/${this.claim.id}`)
            },
            profile() {
                return this.$store.state.profile
            }
        }
    }
</script>

<style>

</style>