<template>
    <div>
        <v-container fluid>
            <v-col cols="6" sm="200" md="200" style="margin-left: 25%">
                <v-text-field
                        label="ФИО"
                        v-model='claim.fio'
                        outlined
                />
                <v-text-field
                        label="Образовательная программа"
                        v-model='claim.OP'
                        outlined
                />
                <v-text-field
                        label="Курс"
                        v-model='claim.course'
                        type="number"
                        min="1"
                        outlined
                />
                <v-text-field
                        label="Контактная почта (E-mail)"
                        v-model='claim.contactEmail'
                        outlined
                />
                <v-text-field
                        label="Номер телефона"
                        v-model='claim.contactNumber'
                        type="number"
                        outlined
                />
                <v-text-field
                        label="Название проекта или КР/ВКР"
                        v-model='claim.projectName'
                        outlined
                />
                <v-text-field
                        label="Научный руководитель"
                        v-model='claim.scientificDirector'
                        outlined
                />
                <v-text-field
                        label="Комментарий"
                        v-model='claim.description'
                        outlined
                />
                <!--        <div class="container">-->
                <!--            <div style="margin-bottom: 2%"> Загрузите файл </div>-->
                <!--            <div class="large-12 medium-12 small-12 cell">-->
                <!--                <label>-->
                <!--&lt;!&ndash;                    <input type="file" id="files" ref="claim.files" multiple v-on:change="handleFilesUpload()"/>&ndash;&gt;-->
                <!--                </label>-->
                <!--            </div>-->
                <!--        </div>-->

                <table class="table" width="600px">
                    <tbody>
                    <tr v-for="(row, index) in rows">
                        <td>
                            <v-text-field
                                    label="Количество копий"
                                    v-model='row.numbersOfCopy'
                                    outlined
                                    style="margin-right: 20px;"
                                    type="number"
                            />
                        </td>
                        <td>
                            <label class="fileContainer">
                                <input type="file" name="file"  @change="setFilename($event, row)" :id="index">
                            </label>
                        </td>
                        <td>
                            <a v-on:click="removeElement(index)" style="cursor: pointer">Remove</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div style="margin-left: 43%">
                    <button class="button btn-primary" @click="addRow">Добавить файл</button>
                </div>

                <div style="margin-left: 35%">
                    <v-btn class="ma-2" @click="save"  tile outlined color="teal" width="45%">
                        <v-icon left>done</v-icon> Сохранить
                    </v-btn>
                </div>
            </v-col>
        </v-container>


    </div>
</template>

<script>
    import {mapActions} from 'vuex';

    export default {
        name: 'claim-form',
        props: ['claimAttr'], fileChecker: 0,
        data() {
            return {
                claim: {
                    id: '',
                    fio: '',
                    OP: '',
                    course: '',
                    contactEmail: '',
                    contactNumber: '',
                    projectName: '',
                    description: '',
                    scientificDirector: '',
                    files: []
                },
                rows: []
            }
        },
        watch: {
            claimAttr(newVal, oldVal) {
                this.scientificDirector = newVal.scientificDirector;
                this.projectName = newVal.projectName;
                this.contactNumber = newVal.contactNumber;
                this.course = newVal.course;
                this.OP = newVal.OP;
                this.fio = newVal.fio;
                this.contactEmail = newVal.contactEmail;
                this.description = newVal.description;
                this.id = newVal.id;
            }
        },
        methods: {
            ...mapActions(['updateClaimAction', 'addClaimAction']),
            save() {
                console.log(this.file);
                const claim = {
                    id: this.claim.id,
                    contactNumber: this.claim.contactNumber,
                    description: this.claim.description,
                    contactEmail: this.claim.contactEmail,
                    fio: this.claim.fio,
                    OP: this.claim.OP,
                    course: this.claim.course,
                    projectName: this.claim.projectName,
                    scientificDirector: this.claim.scientificDirector,
                    files: this.rows,
                };
                this.addClaimAction(claim);
                this.claim.scientificDirector = '',
                    this.claim.projectName = '',
                    this.claim.contactNumber = '',
                    this.claim.course = '',
                    this.claim.OP = '',
                    this.claim.fio = '',
                    this.claim.contactEmail = '';
                this.claim.description = '';
                this.claim.id = '',
                    this.claim.files = ''
            },
            addRow: function () {
                var elem = document.createElement('tr');
                this.rows.push({
                    numbersOfCopy: '',
                    file: ''
                });
            },
            removeElement: function (index) {
                this.rows.splice(index, 1);
            },
            setFilename: function (event, row) {
                row.file = event.target.files[0]
            },
            previewFiles(event) {
                console.log(event.target.files);
                this.file = event.target.files
            },
            handleFilesUpload() {
                this.files = this.$refs.files.files;
            }

        }
    }
</script>

<style>
</style>
