<template>
    <body>
    <p style="font-size: 2.4em; text-align: center; margin-top: 2%; color: darkgoldenrod">
        <strong>ОБЩИЕ ТРЕБОВАНИЯ К 3D-ПЕЧАТАЕМЫМ ОБЪЕКТАМ</strong>
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 2%; color: darkgoldenrod">
        Замкнутость поверхности
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Одним из самых важных требований является целостность поверхности модели. Другими словами, каждая вершина должна быть соединена ребрами и являться частью полигона, не должно быть свободных ребер или вершин, не относящихся к поверхности. При этом какие-либо полигоны не должны отсутствовать, разрывая общую поверхность.
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        Минимальная толщина
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Любая поверхность должна иметь минимальную толщину в зависимости от материала, из которого она будет печататься. Для печати в лаборатории толщина стенок объекта должна составлять не менее 1мм.
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        Пересечение поверхностей
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Модель должна иметь непрерывную внешнюю оболочку, иначе внутри объекта создается поверхность с бесконечно малой толщиной стенки, которая не сможет быть напечатана.
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        Ориентация поверхностей
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Большая часть программ для моделирования определяет направление поверхностей (обычно оно задается направлением, ориентацией нормалей). Для того, чтобы корректно определить объем модели, все поверхности должны быть ориентированы наружу.
        Наложения поверхностей или полигонов в модели тоже необходимо избегать, программа обработки будет считать это ошибкой и не определит правильный объем.
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        Распределенная нагрузка
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Обратите внимание на пропорции и распределение нагрузки в вашей модели. Если вы хотите добиться устойчивости, то стоит проверить площадь опорной точки и конструкцию подставки. Иногда необходимо добавить дополнительные элементы для стабильности.
        Еще один важный момент — это части модели, которые находятся под постоянной нагрузкой. Допустимая нагрузка зависит от используемого материала, но мы всетаки советуем избегать таких конструкций или предусматривать дополнительное упрочнение. Иначе модель может быть повреждена при извлечении из принтера, обработке и дальнейшем использовании.
    </p>
    <p style="font-size: 2.4em; text-align: center; margin-top: 2%; color: darkgoldenrod">
        <strong>КАКИМ ДОЛЖЕН БЫТЬ ФАЙЛ С МОДЕЛЬЮ</strong>
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        Формат файла
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        <strong> .STL </strong>
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        Программы для экспорта в STL
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Autodesk 3ds Max; Blender; Solid Works; NX6; Компас 3D; Fusion
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        Размеры файла
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Файл не должен превышать 100Мб. Чем меньше размер и проще модель, тем лучше.
    </p>
    <p style="font-size: 2.4em; text-align: center; margin-top: 2%; color: darkgoldenrod">
        <strong>ОСОБЕННОСТИ МОДЕЛИРОВАНИЯ ДЛЯ ПЕЧАТИ</strong>
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        Размеры модели
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Максимально возможная область печати составляет круг диаметром 400 мм. Рекомендуемые размеры моделей - 197 х 215 х 305 мм.
    </p>
    <p style="font-size: 1.8em; text-align: center; margin-top: 1%; color: darkgoldenrod">
        Минимальная толщина объектов
    </p>
    <p style="font-size: 1.2em; text-align: center; margin-top: 1%; margin-left: 10%; margin-right: 10%">
        Минимальные размеры и толщина объектов - не менее 1,2 мм.
    </p>
    <p style="font-size: 1.2em; margin-top: 8%; margin-left: 13%; margin-right: 10%; color: darkgoldenrod">
        Поддержка:
    </p>
    <p style="font-size: 1.2em; margin-left: 13%; margin-right: 10%; color: darkgoldenrod">
        Мотайленко Илья Александрович
    </p>
    <p style="font-size: 1.2em; margin-left: 13%; margin-right: 10%">
        imotajlenko@hse.ru
    </p>
    </body>
</template>

<script>
    export default {
        name: "Instruction"
    }
</script>

<style scoped>

</style>