<template>

    <div>
        <p style="font-size: 2em; text-align: center; margin-top: 2%"><strong>Список поданных заявок</strong></p>
        <div>
            <v-container>
                <v-row>
                    <v-row cols="auto" lg="3">
                        <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                            <template v-slot:activator="{ on }">
                                <v-btn :disabled='isDisabled' @click="downloadFile()" dark v-on="on"
                                       class="ma-2" tile outlined color="teal"
                                ><v-icon left>3d_rotation</v-icon> Предпросмотр</v-btn>
                            </template>
                            <v-card>
                                <v-toolbar dense
                                           dark>
                                    <v-btn icon dark @click="dialog = false">
                                        <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                    <v-toolbar-title>Settings</v-toolbar-title>
                                </v-toolbar>
                                <div>
                                    <Scene>
                                        <Camera type="arcRotate" :radius="7.5" :beta="Math.PI / 3" :useFramingBehavior="true"></Camera>
                                        <HemisphericLight></HemisphericLight>
                                        <Asset :src="/models/ + file" :scaling="[1, 1, 1]" :position="[0, 0, 0]">
                                            <Material diffuse="#F00" :metallic="0" :roughness="1"></Material>
                                        </Asset>
                                    </Scene>
                                </div>
                            </v-card>
                        </v-dialog>

                        <v-dialog
                                v-model="dialogChecker"
                                width="600"
                        >
                            <template v-slot:activator="{ on }">
                                <v-btn class="ma-2" tile outlined color="teal" v-on="on">
                                    <v-icon left>mdi-pencil</v-icon> Назначить проверяющего
                                </v-btn>
                            </template>

                            <v-card>
                                <v-card-title
                                        class="headline grey lighten-2"
                                        primary-title
                                >
                                    Назначить проверяющего
                                </v-card-title>
                                <v-card-actions v-for="admin in this.listAdmins">
                                    <v-btn min-width="97%" class="ma-2" tile outlined color="blue-grey" @click="addChecker(admin)">
                                        {{admin.name}} ({{admin.email}})
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>


                        <v-btn  @click="downloadWithVueResource" class="ma-2" tile outlined color="teal">
                            <v-icon left>get_app</v-icon> Excel
                        </v-btn>
                    </v-row>
                    <v-row md="5" >
                        <v-btn class="ma-2" @click="statusCompleted" tile outlined color="teal">
                            <v-icon left>done</v-icon> Готово
                        </v-btn>
                        <v-btn class="ma-2" @click="statusCanceled" tile outlined color="teal">
                            <v-icon left>close</v-icon> Отклонить
                        </v-btn>
                        <v-btn class="ma-2" @click="statusInWork" tile outlined color="teal">
                            <v-icon left>add</v-icon> Взять в работу
                        </v-btn>
                    </v-row>
                </v-row>
            </v-container>
        </div>

        <v-container>
            <v-row>
                <v-text-field
                        v-model="filterStudent"
                        type="text"
                        append-icon="search"
                        label="Студент (ФИО)"
                ></v-text-field>
                <v-text-field
                        v-model="filterTeacher"
                        append-icon="search"
                        label="Научный руководитель (ФИО)"
                        single-line
                        hide-details
                        style="margin-left: 3%"
                ></v-text-field>
                <v-text-field
                        v-model="filterProject"
                        append-icon="search"
                        label="Название проекта или КР/ВКР"
                        single-line
                        hide-details
                        style="margin-left: 3%"
                ></v-text-field>
            </v-row>
        </v-container>

        <div>
            <v-data-table
                    v-model="selected"
                    :headers="headers"
                    :items="sortedClaims"
                    item-key="id"
                    show-select>
                <template v-slot:item.status="{value}">
                    {{checkStatus(value)}}
                </template>
            </v-data-table>
        </div>
    </div>

</template>

<script>
    import {mapActions, mapGetters, mapState} from "vuex";
    import {Entity, Scene, Asset, Camera, HemisphericLight, Material} from 'vue-babylonjs';
    const axios = require('axios');
    export default {
        props: ['claim', 'editClaim'],
        components: {Scene, Asset, Camera, HemisphericLight, Material},
        data() {
            return {
                filterStudent: '',
                filterTeacher: '',
                filterProject: '',
                scene: null,
                engine: null,
                canvas: null,
                mainCamera: null,
                file: "",
                dialog: false,
                notifications: false,
                sound: true,
                dialogChecker: null,
                widgets: false,
                singleSelect: false,
                selected: [],
                headers: [
                    {
                        text: '№ Заявки',
                        align: 'start',
                        sortable: false,
                        value: 'id',
                    },
                    {text: 'Студент (ФИО)', value: 'fio', filter: this.fioFilter},
                    {text: 'Статус заявки', value: 'status'},
                    {text: 'E-mail', value: 'contactEmail'},
                    {text: 'Телефон', value: 'contactNumber'},
                    {text: 'Название проекта или КР/ВКР', value: 'projectName', filter: this.projectFilter},
                    {text: 'Научный Руководитель (ФИО)', value: 'scientificDirector', filter: this.scientificDirectorFilter},
                    {text: 'Проверяющий', value: 'checker.name'},
                    {text: 'Комментарий', value: 'description'},
                ],
            }
        },
        computed: {
            ...mapGetters(['sortedClaims', 'listAdmins']),
            isDisabled() {
                return this.selected.length !== 1;
            }
        },
        methods: {
            ...mapActions(['removeClaimAction']),
            fioFilter(value) {
                if (!this.filterStudent) {
                    return true;
                } else {
                    return value.toLowerCase().includes(this.filterStudent.toLowerCase());
                }
            },
            scientificDirectorFilter(value) {
                if (!this.filterTeacher) {
                    return true;
                } else {
                    return value.toLowerCase().includes(this.filterTeacher.toLowerCase());
                }
            },
            projectFilter(value) {
                if (!this.filterProject) {
                    return true;
                } else {
                    return value.toLowerCase().includes(this.filterProject.toLowerCase());
                }
            },

            statusCompleted() {
                for (let i = 0; i < this.selected.length; i++) {
                    this.$http.put(`claim/statusChange/${this.selected[i].id}?status=COMPLETED`)
                }
            },
            statusInWork() {
                for (let i = 0; i < this.selected.length; i++) {
                    this.$http.put(`claim/statusChange/${this.selected[i].id}?status=IN_WORK`)
                }
            },
            statusCanceled() {
                for (let i = 0; i < this.selected.length; i++) {
                    this.$http.put(`claim/statusChange/${this.selected[i].id}?status=CANCELED`)
                }
            },
            addChecker(admin) {
                for (let i = 0; i < this.selected.length; i++) {
                    this.$http.put(`claim/addChecker/${this.selected[i].id}/${admin.id}`)
                }
                this.dialogChecker=false;
            },
            profile() {
                return this.$store.state.profile
            },
            forceFileDownload(response) {
                const url = window.URL.createObjectURL(new Blob([response.data]))
                const link = document.createElement('a')
                link.href = url
                link.setAttribute('download', 'file.xls') //or any other extension
                document.body.appendChild(link)
                link.click()
            },
            downloadWithVueResource() {

                this.$http({
                    method: 'get',
                    url: "/claim/excel",
                    responseType: 'arraybuffer'
                })
                    .then(response => {
                        this.forceFileDownload(response)
                    })
                    .catch(() => console.log('error occured'))

            },
            checkStatus(value) {
                switch (value) {
                    case 'CREATED':
                        return 'Создано';
                    case 'IN_WORK':
                        return 'В работе';
                    case 'COMPLETED':
                        return 'Готово';
                    case 'CANCELED':
                        return 'Отклонено';
                }
            },
            downloadFile() {
                let url = "";
                axios.default.get("/claim/file", {params: {claimId: this.selected[0].id}}).then(res => {
                    console.log(res);
                    let data = res.data;
                    this.file = data;
                    let elementsByName = document.getElementById("asset");
                    elementsByName.setAttribute("src", "/models/" + data);
                    this.$forceUpdate();
                }).catch(c => {
                    console.log(c);
                });
            },
        }
    }
</script>

<style>
    #renderCanvas {
        width: 100%;
        height: 100%;
        touch-action: none;
    }
</style>
