<template>
    <v-app>
        <v-card
                flat
                tile
                class="mx-0"
        >
            <v-toolbar dense
                       dark>

                <v-btn id="logo" href="/" v-bind:style="{ color: 'orange', underline: 'none', marginRight: '5px'}">
                    <span><v-icon>home</v-icon></span>
                </v-btn>
                <div v-if="profile">
                    <v-btn class="ma-2" href="/claimList" rounded dark x-small color="">
                        Мои заявки
                    </v-btn>
                </div>
                <div v-if="profile">
                    <v-btn class="ma-2" href="/createClaim" rounded dark x-small color="">
                        Создать заявку
                    </v-btn>
                </div>
                <div v-if="profile">
                    <div v-if="profile.roles !== null
                    && profile.roles.toString().endsWith('ADMIN')">
                        <v-btn class="ma-2" href="/changeStatus" rounded dark x-small color="" >
                            Список поданных заявок
                        </v-btn>
                    </div>
                </div>

                <v-dialog
                        v-model="addAdmin"
                        width="600"
                >
                    <template v-slot:activator="{ on }">
                        <div v-if="profile">
                            <div v-if="profile.roles !== null
                            && profile.roles.toString().endsWith('ADMIN')">
                                <v-btn class="ma-2" rounded dark x-small color="" v-on="on">
                                    Добавить (удалить) администратора
                                </v-btn>
                            </div>
                        </div>
                    </template>

                    <v-card>
                        <v-card-title
                                class="headline grey lighten-2"
                                primary-title
                        >
                            Добавить (удалить) администратора
                        </v-card-title>
                        <v-card-actions>
                            <v-text-field
                                    v-model="contactEmail"
                                    append-icon="face"
                                    label="E-mail"
                                    single-line
                                    hide-details
                                    style="margin-left: 3%"
                            ></v-text-field>
                        </v-card-actions>
                        <v-divider></v-divider>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn class="ma-2" @click="createAdmin" tile outlined color="teal">
                                <v-icon left>done</v-icon> Добавить
                            </v-btn>
                            <v-btn class="ma-2" tile outlined color="teal">
                                <v-icon left>delete</v-icon> Удалить
                            </v-btn>
                            <v-btn class="ma-2" @click="closeAdmin" tile outlined color="teal">
                                <v-icon left>close</v-icon> Отменить
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <div v-if="profile">
                    <v-btn class="ma-2" href="/instruction" rounded dark x-small color="">
                        Инструкция по подготовке 3D-модели
                    </v-btn>
                </div>
                <v-spacer></v-spacer>
                <v-container v-if="!profile">
                    <v-flex xs2 offset-xs10>Авторизоваться
                        <v-btn icon href="/login">
                            <v-icon>perm_identity</v-icon>
                        </v-btn>
                    </v-flex>
                </v-container>
                <span v-if="profile"> {{ profile.name }} </span>
                <v-btn v-if="profile" icon href="/logout">
                    <v-icon>exit_to_app</v-icon>
                </v-btn>

            </v-toolbar>
        </v-card>

        <v-content>
            <router-view></router-view>
        </v-content>

    </v-app>
</template>

<script>
    import {mapMutations, mapState} from 'vuex';
    import {addHandler} from "../util/ws";

    export default {
        computed: mapState(['profile']),
        data() {
            return {
                contactEmail: '',
                addAdmin: null
            }
        },
        watch: {
            claimAttr(newVal, oldVal) {
                this.contactEmail = newVal.contactEmail;
            }
        },
        methods: {
            createAdmin() {
                this.$http.put(`claim/add/${this.contactEmail}`)
                this.addAdmin = false
            },
            closeAdmin() {
                this.addAdmin = false
            },
        }
    }
</script>

<style>
    .logo {
        text-underline: none;
    }

    .toolbar {
        background-color: rgba(0,0,0,.87);
        border-color: rgba(0,0,0,.87);;
        color: rgba(0,0,0,.87);
    }

    .card {

    }

</style>
