<template>
    <v-container>
    <v-layout align-space-around justify-start column>
        <p style="font-size: 2em; text-align: center; margin-top: 1%"><strong>Мои заявки</strong></p>
        <claim-row v-for="claim in sortedClaims"
                     :key="claim.id"
                     :claim="claim"
                     :editClaim="editClaim"
        />
    </v-layout>
    </v-container>
</template>

<script>
    import { mapGetters } from 'vuex'
    import ClaimRow from "../messages/ClaimRow.vue"

    export default {
        name: 'ClaimList',
        components: {
            ClaimRow
        },
        data() {
            return {
                claim: null
            }
        },
        computed: mapGetters(['sortedClaims']),
        methods: {
            editClaim(claim) {
                this.claim = claim
            }
        }
    }
</script>

<style>
</style>
