<template>

    <div>
        <p style="font-size: 2em; text-align: center; margin-top: 2%"><strong>Мои заявки</strong></p>

        <v-container>
            <v-row>
                <v-text-field
                        v-model="filterStudent"
                        type="text"
                        append-icon="search"
                        label="Студент (ФИО)"
                ></v-text-field>
                <v-text-field
                        v-model="filterTeacher"
                        append-icon="search"
                        label="Научный руководитель (ФИО)"
                        single-line
                        hide-details
                        style="margin-left: 3%"
                ></v-text-field>
                <v-text-field
                        v-model="filterProject"
                        append-icon="search"
                        label="Название проекта или КР/ВКР"
                        single-line
                        hide-details
                        style="margin-left: 3%"
                ></v-text-field>
            </v-row>
        </v-container>

        <div @submit.prevent="">
            <v-data-table
                    v-model="selected"
                    :headers="headers"
                    :items="profileClaims"
                    item-key="id">
                <template v-slot:item.status="{value}">
                    {{checkStatus(value)}}
                </template>
            </v-data-table>
        </div>
    </div>

</template>

<script>
    import {mapActions, mapGetters, mapState} from "vuex";
    import {Entity, Scene, Asset, Camera, HemisphericLight, Material} from 'vue-babylonjs';
    const axios = require('axios');
    export default {
        components: {Scene, Asset, Camera, HemisphericLight, Material},
        data() {
            return {
                filterStudent: '',
                filterTeacher: '',
                filterProject: '',
                selected: [],
                headers: [
                    {
                        text: '№ Заявки',
                        align: 'start',
                        sortable: false,
                        value: 'id',
                    },
                    {text: 'Студент (ФИО)', value: 'fio', filter: this.fioFilter},
                    {text: 'Статус заявки', value: 'status'},
                    {text: 'E-mail', value: 'contactEmail'},
                    {text: 'Телефон', value: 'contactNumber'},
                    {text: 'Название проекта или КР/ВКР', value: 'projectName', filter: this.projectFilter},
                    {text: 'Научный Руководитель (ФИО)', value: 'scientificDirector', filter: this.scientificDirectorFilter},
                    {text: 'Проверяющий', value: 'checker.name'},
                    {text: 'Комментарий', value: 'description'},
                ],
            }
        },
        computed: {
            ...mapGetters(['sortedClaims', 'profileClaims']),
        },
        methods: {
            ...mapActions(['removeClaimAction']),
            fioFilter(value) {
                if (!this.filterStudent) {
                    return true;
                } else {
                    return value.toLowerCase().includes(this.filterStudent.toLowerCase());
                }
            },
            scientificDirectorFilter(value) {
                if (!this.filterTeacher) {
                    return true;
                } else {
                    return value.toLowerCase().includes(this.filterTeacher.toLowerCase());
                }
            },
            projectFilter(value) {
                if (!this.filterProject) {
                    return true;
                } else {
                    return value.toLowerCase().includes(this.filterProject.toLowerCase());
                }
            },
            profile() {
                return this.$store.state.profile
            },
            checkStatus(value) {
                switch (value) {
                    case 'CREATED':
                        return 'Создано';
                    case 'IN_WORK':
                        return 'В работе';
                    case 'COMPLETED':
                        return 'Готово';
                    case 'CANCELED':
                        return 'Отклонено';
                }
            },
        }
    }
</script>

<style>
    #renderCanvas {
        width: 100%;
        height: 100%;
        touch-action: none;
    }
</style>
