<template>
    <div>
        <p style="font-size: 2em; text-align: center; margin-top: 2%"><strong>Создать заявку</strong></p>
        <claim-form :claims="claims" :claim-attr="claimAttr"></claim-form>
    </div>
</template>

<script>
    import ClaimForm from "../messages/ClaimForm.vue";
    export default {
        name: 'CreateClaim',
        props: ['claims', 'claimAttr'],
        components: {
            'claim-form': ClaimForm
        }
    }
</script>

<style scoped>

</style>
