<template>
    <v-app>
        <p style="font-size: 140%; text-align: center; margin-top: 9%; ">
            <strong>"УЧЕБНАЯ ЛАБОРАТОРИЯ 3D-ВИЗУАЛИЗАЦИИ И КОМПЬЮТЕРНОЙ ГРАФИКИ"</strong>
        </p>
        <p style="font-size: 2.4em; text-align: center ">
            <strong style=" color: darkgoldenrod">
                MIEM3D: </strong>
            <strong>ПОДАЧА ЗАЯВКИ НА 3D-ПЕЧАТЬ</strong>
        </p>
        <v-container>
            <v-img src="https://www.hse.ru/data/2014/06/24/1310196963/logo_%D1%81_hse_cmyk.jpg" max-width="500" max-height="500"
                   style="margin-top: 3%; margin-left: 30%; margin-right: 30%"></v-img>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: "MainPage"
    }
</script>

<style scoped>

</style>
